/**
 * Board component
 */
.board {
	width: 602px;
	height: 602px;
	margin: 0 auto;
	background: lightblue;
	border: 1px solid #999;
	position: relative;
	/*overflow: auto;*/
	box-sizing: border-box;
}