.combatboard {
	width: 602px;
	height: 602px;
}

.combatboard-row {

}

.combatboard-unit {
	box-sizing: border-box;
	width: 60px;
	height: 60px;
	float: left;
	margin: 0;
	padding: 0;
}

.combatboard-unit:hover {
	background: rgba(255, 255, 255, 0.2);
}