/**
 * Game component
 */
.game {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.game h1,
.game h2,
.game h3,
.game h4,
.game h5,
.game h6 {
	font-family: 'Exo 2', sans-serif;
}

/**
 * Game view
 */
.game-view {
	width: 100%;
	height: 100%;
}

.game-view-active {
	display: block;
}

.game-view-inactive {
	display: none;
}

.game-view-container {
	width: 100%;
}

.game-view-container-boxed {
	max-width: 700px;
	padding: 3%;
	border-radius: 10px;
	background: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translateY(-50%) translateX(-50%);
}

/**
 * Game start view
 */
.game-view-start {
	background: url('../img/bg-start.jpg');
	background-size: cover;
	position: absolute;
	z-index: 1000;
}

.game-title {
	font-weight: 800;
	font-size: 4.5em;
	text-transform: uppercase;
	text-align: center;
	text-shadow: 0 0 10px rgba(66, 89, 255, 0.8);
	margin: 0 0 13%;
}

.game-view-start button:active {
	position: relative;
	top: 1px;
}

/**
 * Game main
 */
.game-main {
	padding: 20px 0;
}

/**
 * Game sidebar
 */
.game-sidebar {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 300px;
	overflow: auto;
	background: rgba(0, 0, 0, 0.1);
	padding: 20px 10px 0;
	z-index: 100;
}

.game-sidebar-header {
	margin-bottom: 20px;
}