/**
 * General declarations
 */
* {
	box-sizing: border-box;
}

*:focus {
    outline: 0;
}

html, body {
	height: 100%;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.text-center {
	text-align: center;
}