/**
 * Player styles
 */
.player-pic {
	width: 70px;
	height: 70px;
	line-height: 70px;
	border-radius: 50em;
	border: 1px solid #ccc;
	overflow: hidden;
	display: inline-block;
	text-align: center;
}

.player-pic	img {
	max-width: 100px;
	max-height: 100px;
}