/**
 * Transitions component
 */
.transition-slideUp {
	-webkit-transition: -webkit-transform 0.5s ease-out;
	-webkit-transform: translateY(-50%);
}

.transition-slideDown {
	-webkit-transition: -webkit-transform 0.5s ease-out;
	-webkit-transform: translateY(0%);
}

.transition-perspectiveUp {
	-webkit-transition: -webkit-transform 0.5s cubic-bezier(0.795, -0.010, 0.315, 0.985);
	-webkit-transform-origin: 50% 0;
	-webkit-transform: perspective(800px) rotateX(90deg);
}